@import '../variables.css';

.box {
  display: flex;
}

.padding-xsmall {
  padding: var(--space-xsmall);
}

.padding-small {
  padding: var(--space-small);
}

.padding-medium {
  padding: var(--space-medium);
}

.padding-large {
  padding: var(--space-large);
}

.padding-xlarge {
  padding: var(--space-xlarge);
}